*
    {
        margin:0;
        padding:0;
        border:0;
    }
html
    {
        height: 100%;
        font-family: "PingFang SC",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    }
body
    {
        margin:0;
        padding:0;
        width: calc(100% - 24px);
        background-color: #FFF;
    }

.mask1 
    {  
        position: fixed;  
        left: 0px;  
        top: 0px;  
        right: 0px;  
        bottom: 0px;  
        width: 100%;
        height: 100%;
        display: none;  
        background: rgba(0, 0, 0, 0.7);  
    } 
.menu-button
    {
        height: 432px;
        width: 440px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
.Profiles-in
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/Profiles-in.png") no-repeat center center;
        display: none; 
    } 
 .Profiles-in:hover
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/Profiles-in-on.png") no-repeat center center;
    } 
 .Fanswork-in
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/Fans work-in.png") no-repeat center center;
        display: none; 
    } 
 .Fanswork-in:hover
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/Fans work-in-on.png") no-repeat center center;
    } 
 .Howto-in
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/How to-in.png") no-repeat center center;
        display: none; 
    } 
 .Howto-in:hover
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/How to-in-on.png") no-repeat center center;
    }
 .Aboutus-in
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/About us-in.png") no-repeat center center;
        display: none; 
    } 
 .Aboutus-in:hover
    {
        float: left;
        width: 440px;
        height: 90px;
        margin-bottom: 24px;
        background: url("../img/About us-in-on.png") no-repeat center center;
    }

.topborder
    {
        margin-left: -12px;
        padding:0;
        background-color: #4A4A4A;
        height: 12px;
        width: 100%;
        position: fixed;
        z-index: 9999;
    }
.bottomborder
    {
        margin-left: -12px;
        padding:0;
        background-color: #4A4A4A;
        height: 12px;
        width: 100%;
        position: fixed;
        bottom: 0px;
        z-index: 9999;
    }
.leftborder
    {
        margin-left: 0px;
        padding:0;
        background-color: #4A4A4A;
        height: 100%;
        width: 12px;
        position: fixed;
        left: 0px;
        z-index: 9999;
    }
.rightborder
    {
        padding:0;
        background-color: #4A4A4A;
        height: 100%;
        width: 12px;
        position: fixed;
        right: 0px;
        z-index: 9999;
    }

.menu-img
    {
        height: 16px;
        width: 26px;
        right: 30px;
        top: 28px;
        position: fixed;
        background: url("../img/menu.png") no-repeat center center;
    }    
.logo
    {
        float: left;
        height: 124px;
        width: 100%; 
        margin-top: 60px;
        background: url("../img/logo.png") no-repeat center center;
    } 

.main
    {
        width: 100%;
        text-align: center;
    }
.clientmain
    {
        margin: 0 auto;
        width: 1024px;
    } 

.title
    {
        float: left;
        margin-top: 45px;
        height: 28px;
        width: 117px;
        background: url("../img/Profiles.png") no-repeat center center;
    }
.titleline
    {
        float: left;
        margin-top: 18px;
        height: 2px;
        width: 1024px;
        background-color: #4A4A4A;
    }

.profiles-menu
    {
        float: left;
        width: 145px;
        margin-top: 20px;
    } 
.content
    {
        float: left;
        width: 870px;
        margin-top: 20px;
        border-left: 1px solid #4A4A4A;
    }
.character
    {
        float: left;
        margin-left: 24px;
        width: 849px;
        border-bottom: 1px solid #4A4A4A;
        margin-bottom: 20px;
        text-align: left;
    } 
.characterlast
    {
        float: left;
        margin-left: 24px;
        width: 849px;
        text-align: left;
    }     
.charactername
    {
        float: left;
        margin-top: 14px;
        height: 58px;
        width: 680px;
    }     
.charactercontent
    {
        float: left;
        width: 680px;
        margin-top: 23px;
        font-size: 14px;
        text-align: left;
        margin-bottom: 20px;
    }
.characterimg
    {
        float: right;
        margin-top: -72px;
        width: 147px;
        height: 220px;
    }        

.Bio
    {
        float: left;
        height: 39px;
        width: 132px;
        margin-bottom: 10px;
        background: url("../img/Bio.png") no-repeat center center;
    }  
.Bio:hover
    {
        float: left;
        height: 39px;
        width: 132px;
        margin-bottom: 10px;
        background: url("../img/Bio-on.png") no-repeat center center;
    }    
.Member
    {
        float: left;
        height: 39px;
        width: 132px;
        margin-bottom: 10px;
        background: url("../img/Member-on.png") no-repeat center center;
    }   
.Disc
    {
        float: left;
        height: 39px;
        width: 132px;
        margin-bottom: 10px;
        background: url("../img/Disc.png") no-repeat center center;
    }    
.Disc:hover
    {
        float: left;
        height: 39px;
        width: 132px;
        margin-bottom: 10px;
        background: url("../img/Disc-on.png") no-repeat center center;
    }

.whitebottom
    {
        height: 68px;
        width: 1024px;
        float: left;
    }                          